<header class="info">
    <nav class="navbar">
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/"> About </a></li>
            <li></li>
        </ul>
        <button type="button" class="show-data"> <span class="text">Explore</span> </button>
    </nav>
    <div *ngIf="info$ | async as info" class="info-data info-data--text">
        <div class="text-box">
            <h1>
                {{info.name}}
            </h1>
            <h3>
                {{info.founder}}
            </h3>
            <p>
                {{info.summary}}
            </p>
            <button>
                <span class="text">Explore</span>
            </button>
        </div>
    </div>
    <Picture>
        <img src="../../assets/img/rocket.png" alt="rocket" class="rocket-img slide-top">
    </Picture>

</header>