@import"../../styles.scss";

.container {
  max-width: 100rem;
  margin-inline: auto;
  margin-top: 50px;
  padding-inline: 2rem;
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.favorite-launch {
  width: 500px;
  margin-inline: 0.5rem;
  grid-column: 1 / -1;
  grid-row: 1;
  z-index: 1;
}

.favorite-img {
  max-width: 60%;
}

.launch-img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%; //helps the images to maintain themselves on a responsive layout
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.launches-list {
  display: flex;
  margin: 0.5rem;
  padding: 0.8rem;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;

  &__title {
    @include flex(space-between);
  }

  &__description {
    @include flex(space-between)
  }
}

.launches-list-description {
  width: 100%;
  margin-top: 15px;
  @include flex(space-between);

  &__rocket-name {
    opacity: 0.75;
  }
}

//FAVORITE STAR STYLES
.rating input {
  display: none;
  position: absolute;
}

label {
  cursor: pointer;
  font-size: 32px;
}

input:checked + label{
  color: $star;
}