/** global variables */
$font-color: #FFFDFF;
$background-color: #171818;
$background-color-secondary: #1F1922;
$accent-color: #a3e583;
$star: #FFC107;

@font-face {
    font-family: 'Universo Black';
    src: url(./assets/font/UniversoBlack.ttf);
}

$font-title: 'Universo Black', sans-serif;

@font-face {
    font-family: 'Hiruko Pro';
    src: url(./assets/font/HirukoLight.otf);
}

$principal-font: 'Hiruko Pro', sans-serif;

@font-face {
    font-family: 'Loew';
    src: url(./assets/font/Loew.otf);
}

$secondary-font: 'Loew', sans-serif;

/** mixin functions */
@mixin flex($justify: flex-start, $align: flex-start, $direction: row, $wrap: wrap) {
    align-items: $align;
    display: flex;
    justify-content: $justify;
    flex-flow: $direction $wrap;
}

@mixin background($url-image, $size: cover, $repeat: no-repeat, $position: center) {
    background-image: $url-image;
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}


/** General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: $font-color;
}

html {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

p {
    font-family: $principal-font;
    font-size: 22px;
}

button {
    font-family: $principal-font;
    font-size: 18px;
    cursor: pointer;
    border: 0;
}

h1{
    font-family: $font-title;
    font-size: 8rem;
}

h3{
    font-family: $font-title;
}

h4 {
    font-family: $secondary-font;
    font-size: 22px;
    text-transform: uppercase;
}